.navbar-default .navbar-nav > .active > a,
      .navbar-default .navbar-nav > .active > a:hover,
      .navbar-default .navbar-nav > .active > a:focus {
        background-color: #FF6A39; /* Change 'your-color' to the desired color */
        color: #ffffff; /* Text color */
      }

      .navbar-brand{
        padding-top: 12px;
        display: flex;
        align-items: center;    
    }

.navbar-default .navbar-nav > li:first-child > a,
.navbar-default .navbar-nav > li:first-child > a:hover,
.navbar-default .navbar-nav > li:first-child > a:focus {
    background-color: #F8F8F8;
    color: #000000; /* Change text color if needed */
    width: 0;
    padding-right: 1px;
    padding-left: 1px;
}

#img-2
{
    display: flex;
    align-items: center;
}

#logo 
{
    display: flex;
    align-items: center;
}

.graphs
{
    display: flex;
    align-items: center;
}

.title-graph{
    margin-left: auto;
}

#AU-G{
    height: 700px;
}

#main{
    font-family: Montserrat;
}
#main-page-title{
    background-color: #FF6A39;
    margin-right: 10%;
    margin-left: 10%;
}

#main-content{
    margin-left: 5%;
    padding-top: 0.01%;
    padding-bottom: 2%;    
    font-weight: 300;
    color: #ffffff;
}

#main-title{
    display: flex;
    /* align-items: center;
    height: 800px;
    100 */
}

#main-logo{
    height: 50px;
    margin-left: auto;
    padding-right: 2%;
}

#main-page-body{
    margin-right: 10%;
    margin-left: 10%;
}

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    text-align: justify;
    /* border-style: solid;
    border-radius: 2%; */
}

#body-sblock{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding: 2%;
    border-style: solid;
    background-color: #000000;
}

#problema-title{
    display: flex;
    align-items: center;
}

#problema-logo{
    height: 30px;
    margin-left: auto;
    padding-right: 5%;
}

#problema-text{
    margin-right: 3%;
}

.quotes{
    width: 30px;
}

#mercado{
    width: 100px;
    padding-left: 5%;
}

#mercado-title{
    display: flex;
    align-items: center;
}

#arrow{
    width: 60px;
}

#arrow-cont {
    padding-left: 48%;
    align-items: center;
    position: fixed;
    bottom: 0; /* or adjust as per your need */
    left: 0;
    z-index: 100;
    padding-bottom: 1%;
}

#AUG-G{
   padding-top: 10%; 
}

#solucion-text{
    padding-top: 5%;
    /* font-size: larger;
    font-weight: 600; */
    padding-right: 2%;
}

#solucion-subtext{
    padding-right: 2%;
    font-size: larger;
}

#masBtn{
    width: 140px;
    padding-top: 15%;
}

#GMatriz{
    height: 600px;
}

#mas_ali{
    padding-left: 41.3%;
}


.desc {

    /* margin-top: 60%; */
    padding-top: 2%;
}